{% extends "base/base.html" %}
  {% block content %}
  {% load static %}

   <link rel="stylesheet" href="{% static 'css/edit_delete.css' %}">
    <div class="card">
        
        <div class="icon-container">
            <img id="previewImg" class="profile-img" 
                src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}{% static 'default/user_img.png' %}{% endif %}" 
                alt="Profile">
        </div>



        <h3>click on edit and select your profile</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            
            <div class="edit-btn">    
                <input type="file" id="uploadImage" name="profile_picture"
                    accept="image/*" onchange="previewImage(event)" style="display:none;" >
                <label for="uploadImage" >Edit</label>
            </div>
            <div class="buttons-row">

                <button type="submit" class="save-btn" >Save</button>
                <button type="button" class="save-btn" onclick="closePopup()">Cancel</button>

            </div>
        </form>


    </div>

    <script src="{% static 'js/script.js'%}"></script>
    {% if saved is not None %}
        <script>
            window.parent.postMessage("closeProfilePopup", "*");
        </script>
    {% endif %}

</body>
</html>
{% endblock %}
