{% extends "base/base.html" %}
  {% block content %}
      {% load static %}
             <link rel="stylesheet" href="{% static 'css/login.css' %}">
            <div class="login-container">
                  <img class = "logo-img" src ="/static/images/Elixire_logo.png" > 
                  <h2>Login</h2>
                  <form method = "POST" action = "{% url 'login' %}" autocomplete="off">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                              <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                          {{ error }}
                                    {% endfor %}
                              </div>
                        {% endif %}

                        <div class="input-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Enter your email" required autocomplete="off" >
                        </div>

                        <div class="input-group">
                              <label for="id_password">Password</label>

                              <div class="password-wrapper">
                                    <input
                                          type="password"
                                          name="password"
                                          id="id_password"
                                          placeholder="Create password"
                                          required
                                          maxlength="8">

                                    <span class="toggle-password" onclick="togglePassword('id_password', this)">
                                          <i class='fas fa-eye' style="font-size:14px color:#7d8a99"></i> 
                                    </span>
                              </div>
                        </div>
                        <a href="{% url 'forgot_password' %}" class="forgot-password">
                        Forgot password?
                        </a>


                        <button type="submit" class="login-btn">Login</button>

                        <p class="signup-text">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                  </form>
  {% endblock %}    
