* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    
}

img {
  max-width: 100%;
  height: auto;
}

section {
  overflow-x: hidden;
}


/* ===== HEADER ===== */
.header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 80px;
    position: fixed;
}

.logo {
    display: flex;
    gap: 10px;
    position: relative;
    height: 70px ;
    width: 130px;
    margin-left: 20px;
}

.logo h2 {
    font-size: 23px;
    color: #045bcb;
}

.logo span {
    color: #6cc0ff;
}

.navbar a {
    margin: 0 14px;
    text-decoration: none;
    font-size: 16px;
    color: #0e4b8f;
    transition: .3s;
}

.navbar a:hover {
    color: #0099ff;
}

.mobile-only{
        display: none;
    }


/* ===== HERO ===== */
.hero {
    background: linear-gradient(135deg, #0D47A1, #1565C0);
    padding: 90px 0;
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.hero-content .text {
    max-width: 500px;
    margin-left: 70px;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.3;
    
}

.hero-content h1 span {
    color: #8ECCFF;
    text-decoration: underline;
}

.buttons {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 28px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid white;
}

.primary {
    background: #00B2FF;
    color: white;
}

.primary:hover {
    background: transparent;
}

.secondary {
    background: transparent;
    color: white;
}

.secondary:hover {
    background: #00B2FF;
}

.hero-img img {
    width: 550px;
    
}

.curve svg {
    display: block;
    width: 100%;
    
}



/* ===== ABOUT SECTION ===== */
.about {
    width: 100%;
    padding-right: 120px;
    padding-left: 120px;
    margin-top: 40px;
    padding-top: 100px;
    
}

.section-title {
    font-size: 38px;
    font-weight: 400;
    color: #42546b; /* same dark-blue color */
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 60px;
}

.about-text {
    width: 50%;
}

.about-text h3 {
    font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-size: 24px;
        font-weight: 600;
        color: #42546b;
        margin-bottom: 20px;
}

.about-text p {
    font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #444;
        line-height: 1.8;
        margin-bottom: 25px;
}

.about-image img {
    width: 450px;
}

/* ===== HELP SECTION ===== */
.about-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.help-image img {
    width: 450px;
}

.help-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.help-text p {
    margin-bottom: 15px;
    color: #444;
    line-height: 26px;
}



/* SERVICES TITLE */

.services-section {
    text-align: center;
    padding: 60px 20px;
    background: #eaf3ff;
    font-family: "Segoe UI", sans-serif;
    margin-top: 80px;
    padding-top: 100px;
    
}

.section-title {
    font-size: 32px;
    margin-bottom: 10px;
    
    
}

.section-subtitle {
    font-size: 16px;
    width: 60%;
    margin: 0 auto 40px auto;
    color: #666;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 40px;
    width: 85%;
    margin: auto;
}

.service-card {
    background: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    
}

.service-title {
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
    color:#545454
}

.icon {
    font-size: 16px;
}

.pink { color: #ff4fa3; }
.green { color: #3ed45f; }
.teal { color: #2acaca; }
.purple { color: #7b6dff; }

ul {
    margin-top: 30px;
    padding-left: 20px;
    color: #333;

}

ul li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
        font-weight: 450;
        color: #444;
        line-height: 1;   
        margin-bottom: 25px;
        margin-left: 30px;
        margin-top: 15px;
}


/* WHY CHOOSE US */
.why-choose-us {
    background: #0b70c9;
    color: white;
    text-align: center;
    padding: 40px 60px;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 50px;
}

.why-choose-us h2 {
    font-size: 34px;
    margin-bottom: 15px;
    font-weight: 400;
}

.why-choose-us .subtitle {
    max-width: 600px;
    margin: 0 auto 50px;
    font-size: 14px;
    line-height: 1.4;
    padding: 0 18px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.card {
    background: #0a5da7;
    padding: 30px;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background: #092f50;
    
}

.card i {
    font-size: 48px;
    margin-bottom: 15px;
    color: #bfddfe;
}

.card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 20px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 180px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.stats div {
    text-align: center;
}

.stats h1 {
    font-size: 36px;
    margin: 0;
}

.stats p {
    margin: 0;
    font-size: 14px;
    opacity: 0.9;
}



/* ==== EXPERTISE ==== */

.expertise-section {
    text-align: center;
    padding: 80px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.expertise-section .title {
    font-size: 36px;
    font-weight: 450;
    color: #34495e;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

.expertise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px 20px;
}

.expertise-card {
    background: #fff;
    padding: 20px 60px;
    border-radius: 16px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease, box-shadow .3s ease;
}

.expertise-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 24px rgba(0,0,0,0.15);
}

.expertise-card img {
    max-width: 180px;
    height: 110px;
    object-fit: contain;
}




/* ==== TESTIMONIAL ==== */

.testimonial-section {
    width: 100%;
    text-align: center;
    padding-right: 180px;
    padding-top: 60px ;
    padding-left: 120px;
    padding-bottom: 60px;
    background: #eaf3ff;
   
}

.test-title {
    font-size: 40px;
    color: #3a4b63;
    font-weight: 500;
    margin-bottom: 60px;
}

.testimonial-box {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 60px;
}

.test-profile img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -70px;
    border: 6px solid white;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

.test-content {
    text-align: left;
}

.test-name {
    font-size: 18px;
    font-weight: 600;
    color: #233344;
    margin-bottom: 5px;
}

.test-role {
    color: #7d8a99;
    font-size: 14px;
    margin-bottom: 25px;
    
}

.test-text {
    font-size: 14px;
    line-height: 1.8;
    color: #394b57;
    max-width: 900px;
}

.dots {
    margin-top: 40px;
}

.dot {
    height: 12px;
    width: 12px;
    background: #c8d9e6;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}

.dot.active {
    background: #0b73d9;
}



/* ==== CAREER SECTION ==== */

.career-section {
    padding: 80px 60px;
    width: 100%;
    text-align: center;
    background: #f8fbff;
}

.career-title {
    font-size: 35px;
    font-weight: 500;
    color: #34495e;
    margin-bottom: 10px;
}

.career-subtitle {
    font-size: 16px;
    color: #607483;
    max-width: 650px;
    margin: 0 auto 60px auto;
    line-height: 1.6;
}

.career-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 1100px;
    margin: auto;
}

.career-text {
    flex: 1;
    text-align: left;
    font-size: 15px;
    color: #2e3e4f;
    line-height: 1.8;
    margin-right: 0px;
}

.career-bold {
    font-size: 16px;
    font-weight: 600;
    color: #212d3a;
    margin-bottom: 30px;
}

.career-email {
    margin-top: 20px;
    font-size: 14px;
}

.career-email a {
    color: #0078ff;
    font-weight: 600;
    text-decoration: none;
}

.career-email a:hover {
    text-decoration: underline;
}

/* IMAGE SECTION */
.career-image img {
    width: 400px;
    max-width: 95%;
}


/* ==== CLIENTS SECTION ==== */

.clients-section {
    background: #eaf1fa;
    padding: 60px 0;
    text-align: center;
}

.clients-section h2 {
    font-size: 35px;
    font-weight: 500;
    color: #34495e;
    margin-bottom: 10px;
}

/* Scroll area */
.scroll-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar (optional) */
.scroll-wrapper::-webkit-scrollbar {
    display: none;
}

/* Inside scrolling row */
.clients-scroll {
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 0 40px;
}

/* Logo styling */
.client-logo {
    width: 150px;
    transition: transform .3s;
}

.client-logo.big {
    width: 210px;
    filter: drop-shadow(0px 8px 8px rgba(0,0,0,0.15));
}

.client-logo:hover {
    transform: scale(1.05);
}



.client-logo:hover {
    transform: scale(1.05);
}


/* ==== CONTACT SECTION ==== */

.contact-section {
    padding: 40px 200px;
    text-align: center;
    margin-top: 40px;
}

.contact-section h2 {
    font-size: 35px;
    font-weight: 500;
    color: #34495e;
    margin-bottom: 10px;
}

.contact-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-left, .contact-right {
    width: 40%;
    text-align: justify;
    align-items: center;
    margin-left: 50px;
    margin-right: -20px;
}

.contact-section p {
    font-size: 14px;
    margin-bottom: 15px;
}

.contact-section i {
    color: #0070c9;
    font-size: 22px;
    margin-right: 0px;
}



/* ==== FOOTER ==== */

/* Footer Container */
.main-footer {
    background: #004B9A;     /* same blue color */
    color: white;
    padding: 60px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* Left text */
.footer-left {
    font-size: 14px;
    opacity: 0.9;
}

/* Social Icons */
.footer-right {
  display: flex;
  gap: 10px;               /* spacing between icons */
  align-items: center;     /* center vertically inside footer row */
}

.footer-right a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #007BFF;
  text-decoration: none;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 10px;              /* use inner sizing for icons instead of padding on elements */
}

/* icon inside the circle */
.footer-right a i,
.footer-right svgimage {
  display: block;          /* remove inline baseline quirks */
  width: 40px;
  height: 40px;
  line-height: 1;
  margin: 0;
  color: white;
  padding:10px;   
  
}

.footer-right a img:hover {
    transform: scale(1.1);
}

.footer-right a i:hover {
    transform: scale(1.1);
}
/* Floating Help Button */
.help-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: #4a90e2;
    color: #fff;
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    z-chatbot: 9999;
}

.help-btn:hover {
    transform: scale(1.1);
}


/* RESPONSIVE CSS */


@media (max-width: 1024px) {

  .header {
    padding: 15px 30px;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .hero-content .text {
    margin-left: 0;
    max-width: 100%;
  }

  .hero-img img {
    max-width: 420px;
  }

  .about,
  .testimonial-section,
  .contact-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-container,
  .about-help,
  .career-container,
  .testimonial-box {
    flex-direction: column;
    text-align: center;
  }

  .about-text,
  .contact-left,
  .contact-right {
    width: 100%;
    margin: 0;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .stats {
    gap: 60px;
  }
}

@media (max-width: 768px) {

    .mobile-menu-btn {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .mobile-menu-btn span {
        width: 26px;
        height: 3px;
        background: #045bcb;
        border-radius: 5px;
        transition: 0.3s;
    }

    /* Mobile Navbar Container */
    .mobile-navbar {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        gap: 25px;
        transition: 0.3s ease;
        z-chatbot: 9999;
    }

    /* Links */
    .mobile-navbar a {
        font-size: 18px;
        text-decoration: none;
        color: #0e4b8f;
        font-weight: 600;
    }

    /* ACTIVE STATE */
    .mobile-navbar.active {
        right: 0;
    }

    /* ================= MOBILE ONLY ================= */
    @media (max-width: 768px) {

        .navbar {
            display: none;
        }

        .mobile-menu-btn {
            display: flex;
        }
    }
    
  .hero {
    padding: 70px 15px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .curve {
    margin-bottom: 50px;
  }

  .buttons {
    flex-direction: column;
  }

  .about,
  .services-section,
  .career-section,
  .testimonial-section,
  .contact-section {
    padding: 40px 20px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .clients-scroll {
    gap: 50px;
  }

  .contact-container {
    flex-direction: column;
    gap: 30px;
  }
}


@media (max-width: 480px) {

  .hero-content h1 {
    font-size: 24px;
  }

  .section-title {
    font-size: 26px;
  }

  .service-card {
    padding: 20px;
  }

  .stats h1 {
    font-size: 28px;
  }

  .client-logo {
    width: 110px;
  }
}

