/* Logout */
.logout span a {
    background: #4BA3DE;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
    
}

.logout span a:hover {
  background-color: #0062ad;
}