body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 450px;
    margin: 40px auto;
    padding: 40px;
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
}

.icon-container {
    width: 180px;
    height: 180px;
    background: #57a4dc;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-container i {
    font-size: 40px;
    color: white;
}

h2 {
    margin: 10px 0;
    color: #333;
    font-size: 22px;
}

.delete-btn {
    width: 80%;
    background: #4BA3DE;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #4BA3DE;
}

.edit-btn {
    width: 90%;
    display: block;
    background: #4BA3DE;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.save-btn{ 
    background: #4BA3DE;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border-color: white;
    border-style: none;
    text-decoration: none;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 15px;
    gap: 10px;
}

.save-btn a{
    text-decoration: none;
    color: white;
}

.buttons-row {
    display: flex;
    justify-content: center;
    gap: 25px;   
    margin-top: 10px;
}

#previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* FIT INTO CIRCLE */
    border-radius: 50%;
}
