

button,
button:focus,
button:active,
button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.input-tg ,
.input-tag:focus,
.input-tag:active,
.input-tag:focus-visible
{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

