{% extends "base.html" %}
{% block content %}
<body>
  <div class="chat-container">
      <div class="chat-header">
          <div class="left-section">
            <a href=" {% url 'home' %}" style="color:white;"><i class="fa fa-arrow-left"></i></a>
            <span>Elixir Techne Help Desk</span>
          </div>
          <div class="right-section">
            <a href="{% url 'history' %}" class="logout-btn" style="text-decoration:none;">My history</a>
            <a href="{% url 'profile' %}" class="logout-btn" style="text-decoration:none;">Profile</a>
          </div>
      </div>

      <div class="chat-body" id="chatBody">

              <!-- Always show greeting once -->
          {% if not conversation_history %}
              <div class="message bot">Hi! Welcome to ElixirTechne 👋</div>
              <div class="message bot">How can we help you today?</div>
          {% endif %}


          {% for msg in conversation %}
              {% if msg.role == "user" %}
                  <div class="message user">{{ msg.content }}</div>
              {% else %}
                  <div class="message bot">{{ msg.content }}</div>
              {% endif %}
          {% endfor %}
      </div>

      <div id="typingIndicator" class="message bot" style="display:none;">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
      </div>


      <div class="chat-footer">
          <form id="chatForm" onsubmit="sendMessage(event)">
              {% csrf_token %}
              <input type="text" id="userInput" placeholder="Type your message..." required>
              <button type="submit" id="sendBtn">Send</button>
          </form>

      </div>
  </div>    
</body>
{% endblock %}
